!!! 5
html(lang='en')
  head
      meta(charset='utf-8')
      title HokieHelper | #{pageTitle}
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='description', content='')
      meta(name='author', content='')
      //- styles
      link(href='../assets/css/bootstrap/bootstrap.css', rel='stylesheet')
      link(href='../assets/css/bootstrap/bootstrap-responsive.css', rel='stylesheet')
      link(href='../assets/css/madweb_base.css', rel='stylesheet')

      //- HTML5 shim, for IE6-8 support of HTML5 elements
      //if lt IE 9
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      //- Fav and touch icons
      link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-icon-144-precomposed.png')
      link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-icon-114-precomposed.png')
      link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-icon-72-precomposed.png')
      link(rel='apple-touch-icon-precomposed', href='../assets/ico/apple-touch-icon-57-precomposed.png')
      link(rel='shortcut icon', href='../assets/ico/favicon.png')

      block header

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Hokie Helper
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') Home
              li
                a(href='/dining') Dining
              li
                a(href='/maps') Maps
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Bus-Lookup
                  b.caret
                ul.dropdown-menu
                  form.navbar-search.pull-right
                    input.span2(type='text', id='routename', placeholder='Route Name')
                    input.span2(type='text', id='stopcode', placeholder='Stop Code')
                    button.btn.btn-large.btn-primary(type='submit') Submit!
              li
                a(href='') Twitter
              li
                a(href='/about') About
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Schedule
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Timetable of Classes
                  li
                    a(href='#') Available Seats
                  li
                    a(href='#') Course Lookup
                  li.divider
                  li.nav-header Others
                  li
                    a(href='calendar.google.com') Gogle Calendar
                  li
                    a(href='http://www.koofers.com/virginia-tech-vt/') VT Koofers
          //- /.nav-collapse
    //- /.navBar

    block content

    //- /.container

    //- Le javascript
    //- ==================================================
    //- Placed at the end of the document so the pages load faster
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='../assets/js/bootstrap/bootstrap-transition.js')
    script(src='../assets/js/bootstrap/bootstrap-alert.js')
    script(src='../assets/js/bootstrap/bootstrap-modal.js')
    script(src='../assets/js/bootstrap/bootstrap-dropdown.js')
    script(src='../assets/js/bootstrap/bootstrap-scrollspy.js')
    script(src='../assets/js/bootstrap/bootstrap-tab.js')
    script(src='../assets/js/bootstrap/bootstrap-tooltip.js')
    script(src='../assets/js/bootstrap/bootstrap-popover.js')
    script(src='../assets/js/bootstrap/bootstrap-button.js')
    script(src='../assets/js/bootstrap/bootstrap-collapse.js')
    script(src='../assets/js/bootstrap/bootstrap-carousel.js')
    script(src='../assets/js/bootstrap/bootstrap-typeahead.js')

    block footer
