!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title HokieHelper | #{pageTitle}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    //- Styles
    link(href='../assets/css/bootstrap/bootstrap.css', rel='stylesheet')
    link(href='../assets/css/bootstrap/bootstrap-responsive.css', rel='stylesheet')
    link(href='../assets/css/madweb_base.css', rel='stylesheet')

    //- HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    //- Fav and touch icons
    link(rel='icon', href='../assets/ico/hh.ico', type='image/x-icon')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/hh144.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/hh114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/hh72.png')
    link(rel='apple-touch-icon-precomposed', href='../assets/ico/hh57.png')

    block header

  body

    //- ==================================================
    //- NAVBAR
    //- ==================================================

    //- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper.
    .container.navbar-wrapper
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          //- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize.
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          font(size='3', face='Calibri')
            a.brand(href='#') Hokie Helper
            //- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse.
            .nav-collapse.collapse
              ul.nav
                li.active
                  a(href='#') Home
                li
                  a(href='#dining') Dining
                li
                  a(href='#maps') Maps
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Bus-Lookup
                    b.caret
                  ul.dropdown-menu
                    form.navbar-search.pull-right
                      input.span2(type='text', placeholder='Bus Code')
                      button.btn.btn-large.btn-primary(type='submit') Submit!
                li
                  a(href='#twitter') Twitter
                li
                  a(href='#about') About
                //- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Schedule
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Timetable of Classes
                    li
                      a(href='#') Available Seats
                    li
                      a(href='#') Course Lookup
                    li.divider
                    li.nav-header Others
                    li
                      a(href='calendar.google.com') Gogle Calendar
                    li
                      a(href='http://www.koofers.com/virginia-tech-vt/') VT Koofers
            //- .nav-collapse.collapse
        //- .navbar-inner
      //- .navbar.navbar-inverse
    //- .container.navbar-wrapper



    //- ==================================================
    //- CONTENT - all pages that extend this should put
    //- stuff in this block! :-)
    //- ==================================================

    block content

    .container
      //-FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2012 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms

    //- ==================================================
    //- JavaScript
    //- ==================================================

    //- Placed at the end of the document so the pages load faster
    script(src='../assets/js/jquery.js')
    script(src='../assets/js/bootstrap/bootstrap-transition.js')
    script(src='../assets/js/bootstrap/bootstrap-alert.js')
    script(src='../assets/js/bootstrap/bootstrap-modal.js')
    script(src='../assets/js/bootstrap/bootstrap-dropdown.js')
    script(src='../assets/js/bootstrap/bootstrap-scrollspy.js')
    script(src='../assets/js/bootstrap/bootstrap-tab.js')
    script(src='../assets/js/bootstrap/bootstrap-tooltip.js')
    script(src='../assets/js/bootstrap/bootstrap-popover.js')
    script(src='../assets/js/bootstrap/bootstrap-button.js')
    script(src='../assets/js/bootstrap/bootstrap-collapse.js')
    script(src='../assets/js/bootstrap/bootstrap-carousel.js')
    script(src='../assets/js/bootstrap/bootstrap-typeahead.js')

    block footer

    //- @TODO move elsewhere
    script
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
