doctype 5
html
  head
    title= title

    //- angular JS
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js')

    //- Twitter bootstrap
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')

    //- Socket.IO
    script(src='scripts/socket.io.js')

    //-Ace Editor
    script(src='scripts/ace/src/ace.js')

    //- Ours JS
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='scripts/client.js')

    

  body
    block nav
    block content