extends base

block content
  input(type='button', value='Dining')
  input(type='button', value='Maps')
  input(type='button', value='Bus Look-Up')
  input(type='button', value='Schedules')
  input(type='button', value='Twitter')