extends base

block append header
  link(rel='stylesheet', href='/assets/css/madweb_maps.css')

block append content
  div(class='row-fluid', style='height:100%;')
    #map_canvas(style='width: 100%; height: 100%;')

  .bottomControlBar
    .bottomMenuButton(id='bottomMenuButton') Open

  .bottomMenu(id='bottomMenu', style='display:none')
    select(id='startLocation')
    select(id='endLocation')
    a(class='btn', id='getDirections') Get Directions


block append footer

  //- Google Maps script files
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA8vdQH_8XBS6Pr2b5Bggt8ElIvkzM8n-8&sensor=true')
  script(src='/assets/js/madweb_maps.js')