!!! 5
//- @TODO extend base
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='/assets/css/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/assets/css/madweb_maps.css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA8vdQH_8XBS6Pr2b5Bggt8ElIvkzM8n-8&sensor=true')
    script(src='/assets/js/bootstrap/bootstrap.min.js')
    script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js')
    script(src='/assets/js/madweb_maps.js')

  body(onload='initialize()')
    div(class='row-fluid', style='height:100%;')
      div(style='height:100%, width:150px')
        a(class='btn', id='Make_Circle') Make Circle
      #map_canvas(style='width: 100%; height: 100%;')
