html {
    height: 100%;
}

body {
	/* padding-top: 130px; */ 
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) { 
	.bottomControlBar div {
		width: 700px;
		margin: 0 auto;
		background-color: #f0f;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.bottomControlBar div {
		width: 480px;
		margin: 0 auto;
		background-color: #0f0;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	.bottomControlBar div {
		width: 240px;
		margin: 0 auto;
		background-color: #ff0;
	}

	select {
		font-size: 10px;
		width: 100px;
		height: 20px;
	}

	.btn {
		font-size: 10px;
		width: 100px;
		height: 20px;
		padding: 0px;
	}
}

#map_canvas {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
}

.bottomControlBar {
	position: fixed;
	bottom: 20px;
	width: 100%;
	margin: 0 auto;
	background-color: #f00;
}
/*
	.bottomControlBar div {
		
	}*/